@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'RedRing Medium';
  src: url('./assets/RedRingMedium.otf') format('opentype');
}
@font-face {
  font-family: 'RedRing Bold';
  src: url('./assets/RedRingBold.otf') format('opentype');
}
